.block
  %h3 Links
  %ul.navigation
    %li=link_to 'Go to urbanfinch.com', '/'
    %li=link_to 'Google Analytics', 'http://www.google.com/analytics/'
    %li=link_to 'Facebook', 'http://www.facebook.com/pages/URBAN-FINCH/398228805036'