.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: The job name

.group
  =f.label :url
  =f.error_message_on :url
  =f.text_field :url, :class => :text_field
  %span.description Ex: The job URL

.group
  =f.label :work_id
  =f.error_message_on :work_id
  =f.text_field :work_id, :class => :text_field
  %span.description Ex: The work ID this job belongs to


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:jobs, :index)}';return false", :class => :button
