.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:jobs, :index)
      %li=link_to pat(:new), url(:jobs, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:jobs)
    .inner
      %table.table
        %tr
          %th.first=mat(:job, :id)
          %th=mat(:job, :name)
          %th=mat(:job, :url)
          %th=mat(:job, :work_id)
          %th.last="&nbsp;"
        -@jobs.each do |job|
          %tr
            %td.first=job.id
            %td=job.name
            %td=job.url
            %td=job.work_id
            %td.last
              =button_to pat(:edit), url(:jobs, :edit, :id => job.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:jobs, :destroy, :id => job.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
