.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:jobs, :index)
      %li.active=link_to pat(:new), url(:jobs, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:job)
    .inner
      -form_for :job, url(:jobs, :create), :class => :form do |f|
        =partial "jobs/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
