.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:works, :index)
      %li=link_to pat(:new), url(:works, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:works)
    .inner
      %table.table
        %tr
          %th.first=mat(:work, :id)
          %th=mat(:work, :name)
          %th.last="&nbsp;"
        -@works.each do |work|
          %tr
            %td.first=work.id
            %td=work.name
            %td.last
              =button_to pat(:edit), url(:works, :edit, :id => work.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:works, :destroy, :id => work.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
