.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: The person name

.group
  =f.label :bio
  =f.error_message_on :bio
  =f.text_area :bio, :class => :text_area, :rows => 10
  %span.description Ex: The person bio

.group
  =f.label :email
  =f.error_message_on :email
  =f.text_field :email, :class => :text_field
  %span.description Ex: The person email

.group
  =f.label :position
  =f.error_message_on :position
  =f.text_field :position, :class => :text_field
  %span.description Ex: The person position.
    
.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:people, :index)}';return false", :class => :button
