.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:images, :index)
      %li=link_to pat(:new), url(:images, :new)
      %li.active=link_to pat(:edit), url(:images, :edit, :id => @image.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:image)
    .inner
      -form_for :image, url(:images, :update, :id => @image.id), :method => :put, :class => :form, :multipart => true do |f|
        =partial "images/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
