.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:images, :index)
      %li=link_to pat(:new), url(:images, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:images)
    .inner
      %table.table
        %tr
          %th.first=mat(:image, :id)
          %th Image
          %th=mat(:image, :image_type)
          %th=mat(:image, :image_size)
          %th=mat(:image, :person_id)
          %th=mat(:image, :client_id)
          %th=mat(:image, :job_id)
          %th.last="&nbsp;"
        -@images.each do |image|
          %tr
            %td.first=image.id
            %td
              - unless image.image.nil?
                %img{:src => "data:#{image.image.type};base64,#{Base64.encode64(image.image.read)}", :alt => 'image', :style => 'max-width: 100px'}
            %td=image.image_type
            %td=image.image_size
            %td=truncate(image.person_id.to_s, :length => 8)
            %td=truncate(image.client_id.to_s, :length => 8)
            %td=truncate(image.job_id.to_s, :length => 8)
            %td.last
              =button_to pat(:edit), url(:images, :edit, :id => image.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:images, :destroy, :id => image.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
