.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: The client name

.group
  =f.label :url
  =f.error_message_on :url
  =f.text_field :url, :class => :text_field
  %span.description Ex: The client URL


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:clients, :index)}';return false", :class => :button
