.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:indoors, :index)
      %li=link_to pat(:new), url(:indoors, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:indoors)
    .inner
      %table.table
        %tr
          %th.first=mat(:indoor, :name)
          %th=mat(:indoor, :created_at)
          %th=mat(:indoor, :updated_at)
          %th=mat(:indoor, :description)
          %th.last="&nbsp;"
        -@indoors.each do |indoor|
          %tr
            %td.first=indoor.name
            %td=indoor.created_at
            %td=indoor.updated_at
            %td=indoor.description
            %td.last
              =button_to pat(:edit), url(:indoors, :edit, :id => indoor.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:indoors, :destroy, :id => indoor.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
